header{
  order: 1;
  background-color: blue;
}

.content{
  order: 2;
  background-color: red;
  display: flex;
  flex-direction: row;
}

footer{
  order: 3;
}

#nav-articles{
  order: -1;
  padding-right: 2%;
  background-color: yellow;
}

main{
  display: flex;
  flex-direction: row;
}

#one{
  display: flex;
  flex-direction: column;
}

#nav-one{
  order: -1;
}

#two{
  display: flex;
  flex-direction: column;
}

#nav-two{
  order: -1;
}
